{%extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/camera_access.css') }}">
{% endblock %}
{%block content %}
    <h1>Accedi alla Telecamera o Carica un'Immagine</h1>

    <!-- Sezione per l'accesso alla telecamera -->
    <video id="video" width="320" height="240" autoplay></video>
    <br>
    <button id="snap">Scatta Foto</button>
    <br>
    <!-- Sezione per il caricamento dell'immagine -->
    <input type="file" id="fileInput" accept="image/*">
    <br>
    <canvas id="canvas" width="320" height="240"></canvas>

    <!-- Elemento per visualizzare il testo riconosciuto -->
    <p id="risultato">Il testo riconosciuto apparirà qui.</p>

<script src='../static/js/camera.js'></script>
{% endblock %}